# Common settings that generally should always be used with your language specific settings

# Auto detect text files and perform LF normalization
*          text=auto


*.md       text diff=markdown
*.mdx      text diff=markdown

# Graphics
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.tif      binary
*.tiff     binary
*.ico      binary
# SVG treated as text by default.
*.svg      text
# If you want to treat it as binary,
# use the following line instead.
# *.svg    binary
*.eps      binary

# Fonts
*.ttf      binary
*.woff     binary

# Serialisation
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text

.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore