*

!.gitignore
!.gitattributes
!README.md

!definitions
!definitions/*
!definitions/**/*
definitions/external_component/*

**/.esphome/*

!boards
!boards/*
!boards/**/*

!fonts
!fonts/FontAwesome5-Solid+Brands+Regular.woff
!fonts/materialdesignicons-webfont.ttf
.smbdelete*
**/.smbdelete*
